Flask
langchain
langchain-core
langchain-community
langchain-text-splitters
google-generativeai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dotenv
jira
PyGithub
faiss-cpu
langchain-mcp-adapters
